$width-max: 1920px;
$width-desktop: 1440px;
$width-desktop--small: 1000px;
$width-tablet: 756px;
$width-mobile: 375px;
$width-min: 320px;

$fz-80px: 5rem;
$fz-72px: 4.5rem;
$fz-64px: 4rem;
$fz-60px: 3.75rem;
$fz-56px: 3.5rem;
$fz-48px: 3rem;
$fz-44px: 2.75rem;
$fz-36px: 2.25rem;
$fz-32px: 2rem;
$fz-28px: 1.75rem;
$fz-24px: 1.5rem;
$fz-20px: 1.25rem;
$fz-18px: 1.125rem;
$fz-16px: 1rem;
$fz-14px: 0.875rem;

$color-brand: #006699;

$color-brand--add: #457a1a;

$color-dark: #1a1a1a;
$color-light: #ffffff;

$color-bcg-dark--70: rgba(0, 0, 0, 0.7);
